{
  "parser": "babel",
  "tabWidth": 4,
  "useTabs": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "printWidth": 120,
  "proseWrap": "preserve",
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all"
}
